.Linker {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    gap: 100px; 
    align-items: center;
    background-color: #000000; 
    border-bottom:0.1px solid rgb(77, 77, 77) ;
    padding: 30px;
}

.Header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1100;
}

.home{
    color:red;
}
.Link{
    transition: 0.3s ease-in;
}

.btn1:hover,
.btn2:hover,
.btn3:hover,
.btn4:hover{
    color: hotpink;
    padding-left: 0px;
}

.search{
    display: flex;
    padding: 10px;
}

.search-btn{
    font-size: 15.9px;
    font-weight: bolder;
    border-top-left-radius:0px;
    border-bottom-left-radius:0px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 1px solid gray;
    transition: 0.1s ease-in; 
}


.search-btn:hover{
    background-color: rgb(202, 202, 202);
    color: black;
    border-color:rgb(65, 64, 64) ;
    border-radius: 8px;
    border-top-left-radius:0px;
    border-bottom-left-radius:0px;
}
.search-bar{
    background-color: black;
    width: 400px;
    height: 30px;
    border: 1px solid gray;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    font-size: medium;
    padding: 10px;
    z-index: 999;
}

.intro{
    text-align: center;
}



.dark{
    color: rgb(255, 47, 151);
}

.intro h1{
    color: rgb(255, 0, 0);
}

.find{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#dropdown{
    position: absolute;
    top: 100%;
    left: 2%;
}
.dropdown-item{
    cursor: pointer;
}
.dropdown-item:hover:nth-child(even){
    color: hotpink;
}
.dropdown-item:hover:nth-child(odd){
    color: aqua;
}

.load{
    display: inline;
     width: 50px;
    height: 50px;
    color: rgb(143, 245, 245); 
    animation: spin 1s linear infinite; 
    fill: rgb(219, 39, 119);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}